crewai
crewai[tools]
python-decouple
langchain-community
streamlit
langchain-groq

faiss-cpu
sentence-transformers
PyPDF2

python-dotenv
requests

beautifulsoup4
google-search-results
duckduckgo-search
